<html ng-app="tutorialApp">
<head>
  <link href="/Content/site.css" rel="stylesheet" />
  <script src="/Content/angular.js"></script>
  <script src="/Content/app.js"></script>
  <script src="/Content/tijdController.js"></script>
  <script src="/Content/tokenTestController.js"></script>
</head>
<body>
  <h1>NancyFX tutorial</h1>

  <h2>PreventCaching test</h2>

  <div ng-controller="tijdController">
    <span ng-hide="tijd">De tijd wordt opgehaald.</span>
    <span ng-show="tijd">De huidige datum en tijd is : {{tijd}}</span>
    <div>
      <button ng-click="vernieuwen()">Vernieuw tijd</button>
    </div>
  </div>

  <h2>JSON Web Token test</h2>

  <div ng-controller="tokenTestController">

    <label>Naam : <input type="text" ng-model="authRequest.naam" /></label>
    <label>Wachtwoord : <input type="password" ng-model="authRequest.wachtwoord" /></label>

    <button ng-click="getToken()">Aanmelden</button>

  </div>


</body>
</html>